/*byter font-family på all text på alla sidor*/
*{
    font-family: 'Lora', serif;
}
/*byter font-family på alla h1 och h2 på alla sidor*/
h1, h2{
    font-family: "Aref Ruqaa", serif;
}
/*byter bakgrundsfärgen och sätter marginalen till 0 på alla sidor*/
body{
    background-color: sandybrown;
    margin: 0;
}
/*gör så att samtliga länkar har svart text och ingen underline på alla sidor*/
a{
    text-decoration: none;
    color: #000000;
}
/*stylar headern på samtliga sidor*/
header{
    display: flex;
    width:100%;
    height:300px;
    margin: 0;
    background-image:url(blomHeader.jpg);
}
/*sätter en width på loggan på alla sidor*/
.logo{
    width: 10em;
    height:10em;
}
/*stil och positionering för tillhörande text till loggan på alla sidor*/
header h2{
    color:#6dc8b8;
    margin: 3em 0 0 -1em;
}
/*tar bort list style och sätter en marginal på alla ul på alla sidor*/
ul{
    list-style: none;
    margin: 8em 0 0 5%;
}

.navbar ul{
    margin-top:15em;
}
/*gör så att menyn på alla sidor ligger efter varandra på alla sidor. får en padding från bordern som kommer nedan*/
.navbar li{
    font-size: 1.5em;
    display: inline;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 4em;    
}
/*när man hovrar över ett li i menyn får den en border. detta gäller för alla sidor*/
.navbar li:hover{
    border: 1px solid #000000;
    border-radius: 10px;
}
/*centrerar alla rubriker på alla sidor*/
.main h1{
    text-align: center;
    margin-top: 3em;
}
/*sätter marginal från sidorna på alla används på 3 element*/
.main p{
    margin: 0 20% 0 20%;
}
/*centrerar table och sätter border collapse. används 1 gång i pricing*/
table{
    margin: 0 auto;
    margin-top: 3em;
    border-collapse: collapse;
}
/*sätter en width på alla celler i tabellen i pricing*/
table td{
    width: 8.5em;
}
/*sätter färg på texten och padding mellan texten och bordern i tabellen*/
table, th, td{
    border: 1px solid black;
    padding: 5px;
}
/*sätter width och marginaler på ul "themes" i plantThemes.html*/
.themes{
    width: 40%;
    margin: 0 auto;
    margin-top: 3em;
}
/*sätter list style till circle på alla tematyper som visas. används i 3 olika li-taggar*/
.plant-theme{
    list-style: circle;
}
/*skjuter in och sätter marginal mellan tematypens beskrivning och nästa tematyp. används i 3 li-taggar*/
.theme-desc{
    margin:0 0 1em 1em;
}
/*sätter en width på diven "contact" i contact.html*/
.contact{
    width:423px;
    margin: 0 auto;
}
/*sätter om marginaler på ul'en i contact så att den ligger i linje med formuläret nedan*/
.contact ul{
    margin:0 0 2em -2.45em;
}

/*display block på textarean i formen så den liggr under labelen och inte bredvid*/
textarea{
    display:block;
}