body{
    font-family: 'Roboto Condensed', sans-serif;
    background: #509B8C;
    margin: 0;
    padding: 0;
}

.container{
    color: white;
    font-size: 1.5em;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.list{
    list-style-type: none;
}

.container a{
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}
.container a:hover{
    text-decoration: underline;
    color: #161616;
}

#code{
    margin:0 0 0 3.6em;
}